@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


body{
    background-color: #FFF5FD;  /*background color*/
}

*{
    margin: 0;
    padding:0;
}

nav{
    font-family:  'sans-serif','Ubuntu';
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 55px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 73px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.2rem;
}

.container{
    min-height: 65vh;
    color: white;
    font-family: 'Varela Round', 'sans-serif';
    display: flex;
    width: 75%;
    margin: 23px auto;
    border-radius: 10px;
    padding: 34px;
    background-image: url('background2.jpg');
}

.bottom{
    position: sticky;
    height: 94px;
    background-color: black;
    color: whitesmoke;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 5px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;

}

.songItemContainer{
    margin-top: 58px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    width: 75%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 45px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    color: whitesmoke;
    font-family: 'Varela', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.about{
    cursor: pointer;
}

.home{
    cursor: pointer;
}